# Exercise: Insights

- A Studio that produces movies asked us whether we could provide valuable (for them) insights based on our data.

- Also, our procurement team, ie the team that signs new studios and new films, asked us whether we could help them make data-driven decisions on what films to sign next.

In [43]:
import pandas as pd
import dask.dataframe as dd

In [44]:
movies_df = pd.read_csv("/Users/cesareressa/Documents/datasets/movies.csv")
ratings_df = pd.read_csv("/Users/cesareressa/Documents/datasets/ratings.csv")
tags_df = pd.read_csv("/Users/cesareressa/Documents/datasets/tags.csv")

In [46]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

In [49]:
dd_movies = dd.read_csv("/Users/cesareressa/Documents/datasets/movies.csv")
dd_ratings = dd.read_csv("/Users/cesareressa/Documents/datasets/ratings.csv")
dd_tags = dd.read_csv("/Users/cesareressa/Documents/datasets/tags.csv")

In [50]:
dd_user_info = dd.merge(dd_ratings, dd_tags, how="left", on=["userId", "movieId"], suffixes=("_rating", "_tag"))

In [36]:
df_user_info = dd_user_info.compute()

In [31]:
dd_user_info.head()

   userId  movieId  rating  timestamp_rating  tag  timestamp_tag
0       1      307     3.5        1256677221  NaN            NaN
1       1      481     3.5        1256677456  NaN            NaN
2       1     1091     1.5        1256677471  NaN            NaN
3       1     1257     4.5        1256677460  NaN            NaN
4       1     1449     4.5        1256677264  NaN            NaN

In [40]:
df_user_info[df_user_info.userId == 14]

      userId  movieId  rating  timestamp_rating       tag  timestamp_tag
1117      14        1     4.5        1442169375       NaN            NaN
1118      14        2     4.0        1522101105       NaN            NaN
1119      14      110     4.5        1442169623      epic   1.443149e+09
1120      14      110     4.5        1442169623  Medieval   1.443149e+09
1121      14      296     4.0        1442169576       NaN            NaN
...      ...      ...     ...               ...       ...            ...
1289      14   142488     4.0        1465058634       NaN            NaN
1290      14   152081     4.5        1465058553       NaN            NaN
1291      14   160718     4.5        1522101078       NaN            NaN
1292      14   166024     4.5        1497536861       NaN            NaN
1293      14   177765     5.0        1522101070       NaN            NaN

[177 rows x 6 columns]

In [ ]:
#add datetime columns

In [51]:
dd_complete = dd.merge(df_user_info, dd_movies, how="left", on="movieId")

In [52]:
df_complete = dd_complete.compute()

In [54]:
df_complete[df_complete.userId == 14]

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres
12288,14,1,4.5,1442169375,NaN,NaN,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12306,14,2,4.0,1522101105,NaN,NaN,Jumanji (1995),Adventure|Children|Fantasy
12310,14,110,4.5,1442169623,epic,1.443149e+09,Braveheart (1995),Action|Drama|War
12321,14,110,4.5,1442169623,Medieval,1.443149e+09,Braveheart (1995),Action|Drama|War
12337,14,296,4.0,1442169576,NaN,NaN,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
...,...,...,...,...,...,...,...,...
14184,14,142488,4.0,1465058634,NaN,NaN,Spotlight (2015),Thriller
14191,14,152081,4.5,1465058553,NaN,NaN,Zootopia (2016),Action|Adventure|Animation|Children|Comedy
14202,14,160718,4.5,1522101078,NaN,NaN,Piper (2016),Animation
14219,14,166024,4.5,1497536861,NaN,NaN,Whiplash (2013),(no genres listed)
14232,14,177765,5.0,1522101070,NaN,NaN,Coco (2017),Adventure|Animation|Children