# Exercise: Insights

- A Studio that produces movies asked us whether we could provide valuable (for them) insights based on our data.

- Also, our procurement team, ie the team that signs new studios and new films, asked us whether we could help them make data-driven decisions on what films to sign next.

In [43]:
import pandas as pd
import dask.dataframe as dd

In [44]:
movies_df = pd.read_csv("/Users/cesareressa/Documents/datasets/movies.csv")
ratings_df = pd.read_csv("/Users/cesareressa/Documents/datasets/ratings.csv")
tags_df = pd.read_csv("/Users/cesareressa/Documents/datasets/tags.csv")

In [46]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

In [49]:
dd_movies = dd.read_csv("/Users/cesareressa/Documents/datasets/movies.csv")
dd_ratings = dd.read_csv("/Users/cesareressa/Documents/datasets/ratings.csv")
dd_tags = dd.read_csv("/Users/cesareressa/Documents/datasets/tags.csv")

In [50]:
dd_user_info = dd.merge(dd_ratings, dd_tags, how="left", on=["userId", "movieId"], suffixes=("_rating", "_tag"))

In [36]:
df_user_info = dd_user_info.compute()

In [31]:
dd_user_info.head()

   userId  movieId  rating  timestamp_rating  tag  timestamp_tag
0       1      307     3.5        1256677221  NaN            NaN
1       1      481     3.5        1256677456  NaN            NaN
2       1     1091     1.5        1256677471  NaN            NaN
3       1     1257     4.5        1256677460  NaN            NaN
4       1     1449     4.5        1256677264  NaN            NaN

In [40]:
df_user_info[df_user_info.userId == 14]

      userId  movieId  rating  timestamp_rating       tag  timestamp_tag
1117      14        1     4.5        1442169375       NaN            NaN
1118      14        2     4.0        1522101105       NaN            NaN
1119      14      110     4.5        1442169623      epic   1.443149e+09
1120      14      110     4.5        1442169623  Medieval   1.443149e+09
1121      14      296     4.0        1442169576       NaN            NaN
...      ...      ...     ...               ...       ...            ...
1289      14   142488     4.0        1465058634       NaN            NaN
1290      14   152081     4.5        1465058553       NaN            NaN
1291      14   160718     4.5        1522101078       NaN            NaN
1292      14   166024     4.5        1497536861       NaN            NaN
1293      14   177765     5.0        1522101070       NaN            NaN

[177 rows x 6 columns]

In [ ]:
#add datetime columns -
# look for seasonality - timeseries

In [51]:
dd_complete = dd.merge(df_user_info, dd_movies, how="left", on="movieId")

In [52]:
df_complete = dd_complete.compute()

In [68]:
df_complete[df_complete.userId == 27034]

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres,datetime_rating,datetime_tag
28361253,27034,296,4.0,1367614733,cult film,1.367615e+09,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,2013-05-03 20:58:53,2013-05-03 20:59:27
28361254,27034,296,4.0,1367614733,Quentin Tarantino,1.367615e+09,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,2013-05-03 20:58:53,2013-05-03 20:59:06
28361256,27034,296,4.0,1367614733,Samuel L. Jackson,1.367615e+09,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,2013-05-03 20:58:53,2013-05-03 20:59:09
28361258,27034,356,4.0,1367614714,NaN,NaN,Forrest Gump (1994),Comedy|Drama|Romance|War,2013-05-03 20:58:34,NaT
28361260,27034,431,3.5,1367497581,NaN,NaN,Carlito's Way (1993),Crime|Drama,2013-05-02 12:26:21,NaT
...,...,...,...,...,...,...,...,...,...,...
28361387,27034,52245,3.0,1367535783,Will Ferrell,1.367536e+09,Blades of Glory (2007),Comedy|Romance,2013-05-02 23:03:03,2013-05-02 23:02:07
28361389,27034,67073,1.5,1367535614,zombies,1.367536e+09,Day of the Dead (2008),Horror,2013-05-02 23:00:14,2013-05-02 23:00:25
28361391,27034,88744,4.0,1367498028,NaN,NaN,Rise of the Planet of the Apes (2011),Action|Drama|Sci-Fi|Thriller,2013-05-02 12:33:48,NaT
28361393,27034,91429,3.0,1367535546,NaN,NaN,12 Days of Terror (2005),Drama|Horror|Thriller,2013-05-02 22:59:06,NaT
28361395,27034,95441,3.5,1367535671,NaN,NaN,Ted (2012),Comedy|Fantasy,2013-05-02 23:01:11,NaT

In [63]:
df_complete["datetime_rating"] = pd.to_datetime(df_complete["timestamp_rating"], unit="s")
df_complete["datetime_tag"] = pd.to_datetime(df_complete["timestamp_tag"], unit="s")

In [70]:
df_complete

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres,datetime_rating,datetime_tag
0,1,307,3.5,1256677221,NaN,NaN,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,2009-10-27 21:00:21,NaT
1,106361,8368,3.5,1501871808,NaN,NaN,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX,2017-08-04 18:36:48,NaT
2,131346,4816,1.5,1433273308,NaN,NaN,Zoolander (2001),Comedy,2015-06-02 19:28:28,NaT
3,206877,208,4.0,854979504,NaN,NaN,Waterworld (1995),Action|Adventure|Sci-Fi,1997-02-03 14:18:24,NaT
4,53456,1777,3.0,945051094,NaN,NaN,"Wedding Singer, The (1998)",Comedy|Romance,1999-12-13 02:11:34,NaT
...,...,...,...,...,...,...,...,...,...,...
28363491,27045,260,5.0,955118461,NaN,NaN,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000-04-07 14:41:01,NaT
28363492,27045,317,5.0,955121387,NaN,NaN,"Santa Clause, The (1994)",Comedy|Drama|Fantasy,2000-04-07 15:29:47,NaT
28363493,27045,349,4.0,955119023,NaN,NaN,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,2000-04-07 14:50:23,NaT
28363494,27045,367,4.0,955121417,NaN,NaN,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,2000-04-07 15:30:17,NaT
28363495,27045,379,4.0,955118786,NaN,NaN,Timecop (1994),Action|Sci-Fi|Thriller,2000-04-07 14:46:26,NaT

In [69]:
df_complete.describe()

,userId,movieId,rating,timestamp_rating,timestamp_tag
count,2.836350e+07,2.836350e+07,2.836350e+07,2.836350e+07,8.304920e+05
mean,1.416773e+05,1.919388e+04,3.536770e+00,1.197512e+09,1.398766e+09
std,8.170236e+04,3.591059e+04,1.066656e+00,2.164155e+08,1.110469e+08
min,1.000000e+00,1.000000e+00,5.000000e-01,7.896520e+08,1.135429e+09
25%,7.077700e+04,1.127000e+03,3.000000e+00,1.002635e+09,1.308503e+09
50%,1.415620e+05,2.762000e+03,4.000000e+00,1.182207e+09,1.435359e+09
75%,2.121950e+05,7.360000e+03,4.000000e+00,1.427658e+09,1.492018e+09
max,2.832280e+05,1.938860e+05,5.000000e+00,1.537945e+09,1.537945e+09