# Exercise: Insights

- A Studio that produces movies asked us whether we could provide valuable (for them) insights based on our data.

- Also, our procurement team, ie the team that signs new studios and new films, asked us whether we could help them make data-driven decisions on what films to sign next.

In [89]:
import re
import numpy as np
import pandas as pd
import dask.dataframe as dd

In [2]:
movies_df = pd.read_csv("/Users/cesareressa/Documents/datasets/movies.csv")
ratings_df = pd.read_csv("/Users/cesareressa/Documents/datasets/ratings.csv")
tags_df = pd.read_csv("/Users/cesareressa/Documents/datasets/tags.csv")

In [3]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

In [54]:
#number of movies with ratings

len(ratings_df.movieId.unique())

53889

In [53]:
#number of movies with tags

len(tags_df.movieId.unique())

45981

In [4]:
dd_movies = dd.read_csv("/Users/cesareressa/Documents/datasets/movies.csv")
dd_ratings = dd.read_csv("/Users/cesareressa/Documents/datasets/ratings.csv")
dd_tags = dd.read_csv("/Users/cesareressa/Documents/datasets/tags.csv")

In [5]:
dd_user_info = dd.merge(dd_ratings, dd_tags, how="left", on=["userId", "movieId"], suffixes=("_rating", "_tag"))

In [47]:
df_user_info = dd_user_info.compute()

In [50]:
len(df_user_info["movieId"].unique())

53889

In [8]:
df_user_info[df_user_info.userId == 14]

      userId  movieId  rating  timestamp_rating       tag  timestamp_tag
1117      14        1     4.5        1442169375       NaN            NaN
1118      14        2     4.0        1522101105       NaN            NaN
1119      14      110     4.5        1442169623      epic   1.443149e+09
1120      14      110     4.5        1442169623  Medieval   1.443149e+09
1121      14      296     4.0        1442169576       NaN            NaN
...      ...      ...     ...               ...       ...            ...
1289      14   142488     4.0        1465058634       NaN            NaN
1290      14   152081     4.5        1465058553       NaN            NaN
1291      14   160718     4.5        1522101078       NaN            NaN
1292      14   166024     4.5        1497536861       NaN            NaN
1293      14   177765     5.0        1522101070       NaN            NaN

[177 rows x 6 columns]

In [9]:
#add datetime columns -
# look for seasonality - timeseries

In [10]:
dd_complete = dd.merge(df_user_info, dd_movies, how="left", on="movieId")

In [11]:
df_complete = dd_complete.compute()

In [12]:
df_complete.describe()

,userId,movieId,rating,timestamp_rating,timestamp_tag
count,2.836350e+07,2.836350e+07,2.836350e+07,2.836350e+07,8.304920e+05
mean,1.416773e+05,1.919388e+04,3.536770e+00,1.197512e+09,1.398766e+09
std,8.170236e+04,3.591059e+04,1.066656e+00,2.164155e+08,1.110469e+08
min,1.000000e+00,1.000000e+00,5.000000e-01,7.896520e+08,1.135429e+09
25%,7.077700e+04,1.127000e+03,3.000000e+00,1.002635e+09,1.308503e+09
50%,1.415620e+05,2.762000e+03,4.000000e+00,1.182207e+09,1.435359e+09
75%,2.121950e+05,7.360000e+03,4.000000e+00,1.427658e+09,1.492018e+09
max,2.832280e+05,1.938860e+05,5.000000e+00,1.537945e+09,1.537945e+09

In [13]:
df_complete[df_complete.userId == 27034]

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres
28361253,27034,296,4.0,1367614733,cult film,1.367615e+09,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
28361254,27034,296,4.0,1367614733,Quentin Tarantino,1.367615e+09,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
28361256,27034,296,4.0,1367614733,Samuel L. Jackson,1.367615e+09,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
28361258,27034,356,4.0,1367614714,NaN,NaN,Forrest Gump (1994),Comedy|Drama|Romance|War
28361260,27034,431,3.5,1367497581,NaN,NaN,Carlito's Way (1993),Crime|Drama
...,...,...,...,...,...,...,...,...
28361387,27034,52245,3.0,1367535783,Will Ferrell,1.367536e+09,Blades of Glory (2007),Comedy|Romance
28361389,27034,67073,1.5,1367535614,zombies,1.367536e+09,Day of the Dead (2008),Horror
28361391,27034,88744,4.0,1367498028,NaN,NaN,Rise of the Planet of the Apes (2011),Action|Drama|Sci-Fi|Thriller
28361393,27034,91429,3.0,1367535546,NaN,NaN,12 Days of Terror (2005),Drama|Horror|Thriller
28361395,27034,95441,3.5,1367535671,NaN,NaN,Ted (2012),Comedy|Fantasy

In [14]:
df_complete["datetime_rating"] = pd.to_datetime(df_complete["timestamp_rating"], unit="s")
df_complete["datetime_tag"] = pd.to_datetime(df_complete["timestamp_tag"], unit="s")

In [15]:
df_complete

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres,datetime_rating,datetime_tag
0,1,307,3.5,1256677221,NaN,NaN,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,2009-10-27 21:00:21,NaT
1,106361,8368,3.5,1501871808,NaN,NaN,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX,2017-08-04 18:36:48,NaT
2,131346,4816,1.5,1433273308,NaN,NaN,Zoolander (2001),Comedy,2015-06-02 19:28:28,NaT
3,206877,208,4.0,854979504,NaN,NaN,Waterworld (1995),Action|Adventure|Sci-Fi,1997-02-03 14:18:24,NaT
4,53456,1777,3.0,945051094,NaN,NaN,"Wedding Singer, The (1998)",Comedy|Romance,1999-12-13 02:11:34,NaT
...,...,...,...,...,...,...,...,...,...,...
28363491,27045,260,5.0,955118461,NaN,NaN,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000-04-07 14:41:01,NaT
28363492,27045,317,5.0,955121387,NaN,NaN,"Santa Clause, The (1994)",Comedy|Drama|Fantasy,2000-04-07 15:29:47,NaT
28363493,27045,349,4.0,955119023,NaN,NaN,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,2000-04-07 14:50:23,NaT
28363494,27045,367,4.0,955121417,NaN,NaN,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,2000-04-07 15:30:17,NaT
28363495,27045,379,4.0,955118786,NaN,NaN,Timecop (1994),Action|Sci-Fi|Thriller,2000-04-07 14:46:26,NaT

In [16]:
# df_complete["year"] = df_complete.title.str.findall(r"\((\d+)\)")

df_complete["movie_year"] = df_complete.title.str.findall(r"\((\d\d\d\d)\)").apply(','.join)

In [72]:
dummy_str = df_complete[df_complete["movieId"] == 193880]["genres"].iloc[0]

dummy_str.split("|")

['Drama']

In [93]:
# df_complete[df_complete.title.str.contains("Star Wars")]

df_complete[df_complete.movieId == 8961]

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres,datetime_rating,datetime_tag,movie_year
72,106361,8961,5.0,1501871783,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2017-08-04 18:36:23,NaT,2004
1945,156497,8961,3.5,1192475158,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2007-10-15 19:05:58,NaT,2004
2207,131346,8961,3.5,1433259641,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2015-06-02 15:40:41,NaT,2004
2882,232756,8961,5.0,1138161464,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2006-01-25 03:57:44,NaT,2004
2890,182023,8961,3.5,1196302050,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2007-11-29 02:07:30,NaT,2004
...,...,...,...,...,...,...,...,...,...,...,...
28359196,80068,8961,3.0,1194819302,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2007-11-11 22:15:02,NaT,2004
28361158,27030,8961,4.0,1111563627,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2005-03-23 07:40:27,NaT,2004
28361217,80075,8961,3.0,1342904310,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2012-07-21 20:58:30,NaT,2004
28361679,27035,8961,4.5,1120773583,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2005-07-07 21:59:43,NaT,2004
28362457,80078,8961,5.0,1450726828,NaN,NaN,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2015-12-21 19:40:28,NaT,2004

In [95]:
genres_per_movie_dict = {}

#get unique movie_ids into a list
unique_movieIds = movies_df["movieId"].unique()

list_err = []

for count, movieId in enumerate(unique_movieIds):
    genres_per_movie_dict[movieId] = movies_df[movies_df["movieId"] == movieId]["genres"][count].split("|")

    # except KeyError:
    #     list_err.append(count)
    #     list_err.append(movieId)

In [97]:
genres_per_movie_dict

{1: ['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy'],
 2: ['Adventure', 'Children', 'Fantasy'],
 3: ['Comedy', 'Romance'],
 4: ['Comedy', 'Drama', 'Romance'],
 5: ['Comedy'],
 6: ['Action', 'Crime', 'Thriller'],
 7: ['Comedy', 'Romance'],
 8: ['Adventure', 'Children'],
 9: ['Action'],
 10: ['Action', 'Adventure', 'Thriller'],
 11: ['Comedy', 'Drama', 'Romance'],
 12: ['Comedy', 'Horror'],
 13: ['Adventure', 'Animation', 'Children'],
 14: ['Drama'],
 15: ['Action', 'Adventure', 'Romance'],
 16: ['Crime', 'Drama'],
 17: ['Drama', 'Romance'],
 18: ['Comedy'],
 19: ['Comedy'],
 20: ['Action', 'Comedy', 'Crime', 'Drama', 'Thriller'],
 21: ['Comedy', 'Crime', 'Thriller'],
 22: ['Crime', 'Drama', 'Horror', 'Mystery', 'Thriller'],
 23: ['Action', 'Crime', 'Thriller'],
 24: ['Drama', 'Sci-Fi'],
 25: ['Drama', 'Romance'],
 26: ['Drama'],
 27: ['Children', 'Drama'],
 28: ['Drama', 'Romance'],
 29: ['Adventure', 'Drama', 'Fantasy', 'Mystery', 'Sci-Fi'],
 30: ['Crime', 'Drama'],
 31: ['Drama'],
 32: ['Mystery', 'Sci-Fi', 'Thriller'],
 33: ['Adventure', 'Romance', 'IMAX'],
 34: ['Children', 'Drama'],
 35: ['Drama', 'Romance'],
 36: ['Crime', 'Drama'],
 37: ['Documentary', 'IMAX'],
 38: ['Children', 'Comedy'],
 39: ['Comedy', 'Romance'],
 40: ['Drama'],
 41: ['Drama', 'War'],
 42: ['Action', 'Crime', 'Drama'],
 43: ['Drama'],
 44: ['Action', 'Adventure', 'Fantasy'],
 45: ['Comedy', 'Drama', 'Thriller'],
 46: ['Drama', 'Romance'],
 47: ['Mystery', 'Thriller'],
 48: ['Animation', 'Children', 'Drama', 'Musical', 'Romance'],
 49: ['Drama', 'Romance'],
 50: ['Crime', 'Mystery', 'Thriller'],
 51: ['Action', 'Drama', 'Thriller'],
 52: ['Comedy', 'Drama', 'Romance'],
 53: ['Adventure', 'Drama'],
 54: ['Children', 'Comedy'],
 55: ['Drama'],
 56: ['Adventure', 'Children', 'Comedy', 'Fantasy'],
 57: ['Drama'],
 58: ['Comedy', 'Drama', 'Romance'],
 59: ['Drama', 'Mystery'],
 60: ['Adventure', 'Children', 'Fantasy'],
 61: ['Drama', 'Thriller'],
 62: ['Drama'],
 63: ['Comedy', 'Crime'],
 64: ['Comedy', 'Romance'],
 65: ['Comedy'],
 66: ['Action', 'Sci-Fi', 'Thriller'],
 67: ['Drama'],
 68: ['Comedy', 'Romance'],
 69: ['Comedy'],
 70: ['Action', 'Comedy', 'Horror', 'Thriller'],
 71: ['Action'],
 72: ['Comedy', 'Drama'],
 73: ['Drama', 'War'],
 74: ['Drama', 'Romance'],
 75: ['Comedy', 'Drama'],
 76: ['Action', 'Sci-Fi', 'Thriller'],
 77: ['Documentary'],
 78: ['Action', 'Crime', 'Drama', 'Thriller'],
 79: ['Drama', 'Thriller'],
 80: ['Children', 'Drama'],
 81: ['Crime', 'Drama', 'Romance'],
 82: ['Comedy', 'Drama'],
 83: ['Drama', 'Romance'],
 84: ['Comedy', 'Drama'],
 85: ['Drama', 'Romance'],
 86: ['Action', 'Adventure', 'Drama'],
 87: ['Children', 'Comedy'],
 88: ['Comedy'],
 89: ['Action', 'Thriller'],
 90: ['Drama'],
 92: ['Drama', 'Horror', 'Thriller'],
 93: ['Comedy', 'Horror', 'Romance'],
 94: ['Comedy', 'Drama', 'Romance'],
 95: ['Action', 'Adventure', 'Thriller'],
 96: ['Comedy', 'Drama'],
 97: ['Crime', 'Drama'],
 98: ['Action', 'Thriller'],
 99: ['Documentary'],
 100: ['Drama', 'Thriller'],
 101: ['Adventure', 'Comedy', 'Crime', 'Romance'],
 102: ['Comedy'],
 103: ['Mystery', 'Sci-Fi', 'Thriller'],
 104: ['Comedy'],
 105: ['Drama', 'Romance'],
 106: ['Comedy', 'Drama'],
 107: ['Adventure', 'Children', 'Comedy', 'Musical'],
 108: ['Documentary'],
 109: ['Comedy', 'Drama', 'Thriller'],
 110: ['Action', 'Drama', 'War'],
 111: ['Crime', 'Drama', 'Thriller'],
 112: ['Action', 'Adventure', 'Comedy', 'Crime'],
 113: ['Drama', 'Mystery'],
 114: ['Drama'],
 115: ['Comedy'],
 116: ['Documentary'],
 117: ['Crime', 'Drama'],
 118: ['Comedy', 'Romance'],
 119: ['Comedy'],
 120: ['Adventure', 'Comedy', 'Drama'],
 121: ['Drama'],
 122: ['Comedy', 'Romance'],
 123: ['Drama', 'Mystery', 'Romance'],
 124: ['Drama'],
 125: ['Comedy'],
 126: ['Adventure', 'Children', 'Fantasy'],
 127: ['Drama'],
 128: ['Documentary'],
 129: ['Comedy', 'Romance'],
 130: ['Drama'],
 131: ['Drama', 'Romance'],
 132: ['Thriller'],
 133: ['Comedy', 'Drama'],
 134: ['Documentary'],
 135: ['Comedy'],
 136: ['Documentary'],
 137: ['Documentary'],
 138: ['Drama'],
 139: ['Action', 'Drama'],
 140: ['Drama', 'Romance'],
 141: ['Comedy'],
 142: ['Drama'],
 143: ['Drama'],
 144: ['Comedy'],
 145: ['Action', 'Comedy', 'Crime', 'Drama', 'Thriller'],
 146: ['Adventure', 'Children'],
 147: ['Drama'],
 148: ['Drama'],
 149: ['Crime', 'Drama', 'Thriller'],
 150: ['Adventure', 'Drama', 'IMAX'],
 151: ['Action', 'Drama', 'Romance', 'War'],
 152: ['Drama', 'Horror'],
 153: ['Action', 'Adventure', 'Comedy', 'Crime'],
 154: ['Drama'],
 155: ['Adventure', 'Drama', 'War'],
 156: ['Comedy', 'Drama'],
 157: ['Comedy', 'War'],
 158: ['Adventure', 'Children'],
 159: ['Crime', 'Drama', 'Mystery'],
 160: ['Action', 'Adventure', 'Mystery', 'Sci-Fi'],
 161: ['Drama', 'Thriller', 'War'],
 162: ['Documentary'],
 163: ['Action', 'Romance', 'Western'],
 164: ['Crime', 'Film-Noir', 'Mystery', 'Thriller'],
 165: ['Action', 'Crime', 'Thriller'],
 166: ['Comedy', 'Crime', 'Drama'],
 167: ['Drama'],
 168: ['Action', 'Drama', 'Romance'],
 169: ['Adventure', 'Children', 'Drama'],
 170: ['Action', 'Adventure', 'Crime', 'Thriller'],
 171: ['Comedy', 'Drama'],
 172: ['Action', 'Sci-Fi', 'Thriller'],
 173: ['Action', 'Crime', 'Sci-Fi'],
 174: ['Comedy'],
 175: ['Drama'],
 176: ['Comedy'],
 177: ['Horror'],
 178: ['Comedy', 'Drama'],
 179: ['Drama', 'Romance'],
 180: ['Comedy', 'Romance'],
 181: ['Action', 'Children'],
 182: ['Drama', 'Romance'],
 183: ['Comedy', 'Horror', 'Thriller'],
 184: ['Drama'],
 185: ['Action', 'Crime', 'Thriller'],
 186: ['Comedy', 'Romance'],
 187: ['Comedy'],
 188: ['Fantasy', 'Horror', 'Mystery'],
 189: ['Comedy', 'Fantasy'],
 190: ['Thriller'],
 191: ['Drama', 'Romance'],
 192: ['Documentary'],
 193: ['Drama'],
 194: ['Comedy', 'Drama'],
 195: ['Comedy', 'Drama', 'Romance'],
 196: ['Horror', 'Sci-Fi'],
 197: ['Drama'],
 198: ['Action', 'Crime', 'Drama', 'Mystery', 'Sci-Fi', 'Thriller'],
 199: ['Drama', 'Musical', 'Romance'],
 200: ['Thriller'],
 201: ['Drama', 'Fantasy'],
 202: ['Drama', 'Romance'],
 203: ['Comedy'],
 204: ['Action'],
 205: ['Comedy', 'Drama'],
 206: ['Documentary'],
 207: ['Drama', 'Romance'],
 208: ['Action', 'Adventure', 'Sci-Fi'],
 209: ['Drama'],
 210: ['Western'],
 211: ['Drama'],
 212: ['Adventure', 'Comedy', 'Crime', 'Mystery'],
 213: ['Drama'],
 214: ['Drama', 'War'],
 215: ['Drama', 'Romance'],
 216: ['Comedy'],
 217: ['Drama', 'Thriller'],
 218: ['Comedy', 'Drama'],
 219: ['Drama'],
 220: ['Horror'],
 222: ['Drama', 'Romance'],
 223: ['Comedy'],
 224: ['Comedy', 'Drama', 'Romance'],
 225: ['Drama', 'Thriller'],
 226: ['Thriller'],
 227: ['Action', 'Thriller'],
 228: ['Comedy'],
 229: ['Drama', 'Thriller'],
 230: ['Drama', 'Thriller'],
 231: ['Adventure', 'Comedy'],
 232: ['Comedy', 'Drama', 'Romance'],
 233: ['Drama'],
 234: ['Comedy'],
 235: ['Comedy', 'Drama'],
 236: ['Action', 'Comedy', 'Romance'],
 237: ['Comedy', 'Romance'],
 238: ['Adventure', 'Children'],
 239: ['Animation', 'Children', 'Comedy', 'Romance'],
 240: ['Thriller'],
 241: ['Children', 'Drama'],
 242: ['Drama', 'Musical'],
 243: ['Children', 'Comedy', 'Fantasy'],
 244: ['Animation', 'Children'],
 245: ['Crime', 'Drama'],
 246: ['Documentary'],
 247: ['Crime', 'Drama'],
 248: ['Comedy'],
 249: ['Drama', 'Romance'],
 250: ['Children', 'Comedy'],
 251: ['Action'],
 252: ['Comedy', 'Romance'],
 253: ['Drama', 'Horror'],
 254: ['Drama'],
 255: ['Comedy'],
 256: ['Comedy', 'Sci-Fi'],
 257: ['Mystery', 'Thriller'],
 258: ['Adventure', 'Children', 'Comedy', 'Fantasy', 'Romance'],
 259: ['Crime', 'Drama', 'Thriller'],
 260: ['Action', 'Adventure', 'Sci-Fi'],
 261: ['Drama'],
 262: ['Children', 'Drama'],
 263: ['Drama'],
 264: ['Drama'],
 265: ['Drama', 'Fantasy', 'Romance'],
 266: ['Drama', 'Romance', 'War', 'Western'],
 267: ['Comedy'],
 268: ['Crime', 'Drama'],
 269: ['Drama'],
 270: ['Drama', 'Romance'],
 271: ['Drama'],
 272: ['Comedy', 'Drama'],
 273: ['Drama', 'Horror', 'Sci-Fi'],
 274: ['Comedy'],
 275: ['Comedy'],
 276: ['Comedy', 'Romance'],
 277: ['Drama'],
 278: ['Comedy'],
 279: ['Drama'],
 280: ['Drama', 'Thriller'],
 281: ['Comedy', 'Drama', 'Romance'],
 282: ['Drama'],
 283: ['Crime', 'Drama'],
 284: ['Action', 'Crime'],
 285: ['Drama', 'Horror'],
 286: ['Action', 'Sci-Fi', 'Thriller'],
 287: ['Comedy', 'Romance'],
 288: ['Action', 'Crime', 'Thriller'],
 289: ['Comedy', 'Romance'],
 290: ['Crime', 'Drama'],
 291: ['Drama', 'Thriller'],
 292: ['Action', 'Drama', 'Sci-Fi', 'Thriller'],
 293: ['Action', 'Crime', 'Drama', 'Thriller'],
 294: ['Comedy', 'Romance'],
 295: ['Comedy', 'Romance'],
 296: ['Comedy', 'Crime', 'Drama', 'Thriller'],
 297: ['Drama'],
 298: ['Drama'],
 299: ['Drama'],
 300: ['Drama'],
 301: ['Drama', 'Romance'],
 302: ['Drama', 'Romance'],
 303: ['Action', 'Thriller', 'Western'],
 304: ['Comedy', 'Drama'],
 305: ['Comedy'],
 306: ['Drama'],
 307: ['Drama'],
 308: ['Comedy', 'Drama'],
 309: ['Drama'],
 310: ['Comedy'],
 311: ['Horror', 'Thriller'],
 312: ['Comedy'],
 313: ['Animation', 'Children'],
 314: ['Children', 'Drama', 'Fantasy', 'Mystery'],
 315: ['Action', 'Drama', 'Thriller'],
 316: ['Action', 'Adventure', 'Sci-Fi'],
 317: ['Comedy', 'Drama', 'Fantasy'],
 318: ['Crime', 'Drama'],
 319: ['Comedy', 'Drama', 'Thriller'],
 320: ['Film-Noir', 'Thriller'],
 321: ['Drama'],
 322: ['Comedy', 'Drama'],
 324: ['Comedy', 'Drama'],
 325: ['Comedy'],
 326: ['Drama'],
 327: ['Action', 'Comedy', 'Sci-Fi'],
 328: ['Horror', 'Thriller'],
 329: ['Adventure', 'Drama', 'Sci-Fi'],
 330: ['Action', 'Crime', 'Horror'],
 331: ['Drama'],
 332: ['Horror', 'Sci-Fi'],
 333: ['Comedy'],
 334: ['Drama'],
 335: ['Mystery', 'Thriller'],
 336: ['Drama', 'War'],
 337: ['Drama'],
 338: ['Action', 'Sci-Fi', 'Thriller'],
 339: ['Comedy', 'Romance'],
 340: ['Adventure', 'Drama', 'War'],
 341: ['Drama'],
 342: ['Comedy'],
 343: ['Children'],
 344: ['Comedy'],
 345: ['Comedy', 'Drama'],
 346: ['Drama', 'Musical'],
 347: ['Drama', 'Film-Noir', 'Romance'],
 348: ['Comedy'],
 349: ['Action', 'Crime', 'Drama', 'Thriller'],
 350: ['Drama', 'Mystery', 'Thriller'],
 351: ['Comedy', 'Drama', 'Romance'],
 352: ['Comedy', 'Drama'],
 353: ['Action', 'Crime', 'Fantasy', 'Thriller'],
 354: ['Drama'],
 355: ['Children', 'Comedy', 'Fantasy'],
 356: ['Comedy', 'Drama', 'Romance', 'War'],
 357: ['Comedy', 'Romance'],
 358: ['Drama'],
 359: ['Comedy', 'Drama', 'Romance'],
 360: ['Action', 'Comedy'],
 361: ['Comedy', 'Drama', 'Romance'],
 362: ['Adventure', 'Children', 'Romance'],
 363: ['Documentary'],
 364: ['Adventure', 'Animation', 'Children', 'Drama', 'Musical', 'IMAX'],
 365: ['Drama'],
 366: ['Drama', 'Horror', 'Mystery', 'Thriller'],
 367: ['Action', 'Comedy', 'Crime', 'Fantasy'],
 368: ['Adventure', 'Comedy', 'Western'],
 369: ['Drama'],
 370: ['Action', 'Comedy'],
 371: ['Comedy', 'Drama'],
 372: ['Comedy', 'Drama', 'Romance'],
 373: ['Thriller'],
 374: ['Children', 'Comedy'],
 375: ['Drama'],
 376: ['Action', 'Thriller'],
 377: ['Action', 'Romance', 'Thriller'],
 378: ['Comedy', 'Romance'],
 379: ['Action', 'Sci-Fi', 'Thriller'],
 380: ['Action', 'Adventure', 'Comedy', 'Romance', 'Thriller'],
 381: ['Drama', 'Romance'],
 382: ['Drama', 'Horror', 'Romance', 'Thriller'],
 383: ['Western'],
 384: ['Action', 'Crime', 'Drama'],
 385: ['Drama'],
 386: ['Drama'],
 387: ['Action', 'Comedy'],
 388: ['Drama'],
 389: ['Drama', 'Romance', 'War'],
 390: ['Action', 'Crime', 'Drama'],
 391: ['Crime', 'Drama'],
 392: ['Adventure', 'Animation'],
 393: ['Action', 'Adventure', 'Fantasy'],
 394: ['Comedy'],
 395: ['Drama', 'Fantasy', 'Romance'],
 396: ['Drama'],
 397: ['Horror'],
 398: ['Documentary'],
 399: ['Drama'],
 400: ['Drama'],
 401: ['Action', 'Thriller'],
 402: ['Comedy'],
 403: ['Comedy', 'Crime', 'Drama'],
 404: ['Documentary'],
 405: ['Action', 'Fantasy'],
 406: ['Drama'],
 407: ['Horror', 'Thriller'],
 408: ['Drama'],
 409: ['Crime', 'Drama'],
 410: ['Children', 'Comedy', 'Fantasy'],
 411: ['Comedy', 'Documentary'],
 412: ['Drama'],
 413: ['Comedy'],
 414: ['Comedy'],
 415: ['Comedy', 'Thriller'],
 416: ['Western'],
 417: ['Comedy', 'Romance'],
 418: ['Drama'],
 419: ['Comedy'],
 420: ['Action', 'Comedy', 'Crime', 'Thriller'],
 421: ['Adventure', 'Children', 'Drama'],
 422: ['Thriller'],
 423: ['Action', 'Thriller'],
 424: ['Drama'],
 425: ['Drama', 'Romance'],
 426: ['Horror', 'Sci-Fi', 'Thriller'],
 427: ['Drama', 'Mystery', 'Romance', 'Thriller'],
 428: ['Drama'],
 429: ['Comedy'],
 430: ['Comedy', 'Drama'],
 431: ['Crime', 'Drama'],
 432: ['Adventure', 'Comedy', 'Western'],
 433: ['Comedy'],
 434: ['Action', 'Adventure', 'Thriller'],
 435: ['Comedy', 'Sci-Fi'],
 436: ['Drama', 'Thriller'],
 437: ['Comedy'],
 438: ['Action', 'Comedy', 'Drama'],
 439: ['Drama'],
 440: ['Comedy', 'Romance'],
 441: ['Comedy'],
 442: ['Action', 'Adventure', 'Sci-Fi'],
 443: ['Adventure', 'Documentary'],
 444: ['Comedy', 'Romance'],
 445: ['Comedy'],
 446: ['Drama', 'Romance'],
 447: ['Comedy', 'Romance'],
 448: ['Drama'],
 449: ['Comedy'],
 450: ['Comedy', 'Drama'],
 451: ['Drama', 'Mystery', 'Romance'],
 452: ['Drama'],
 453: ['Comedy', 'Romance'],
 454: ['Drama', 'Thriller'],
 455: ['Adventure', 'Children', 'Drama'],
 456: ['Crime', 'Drama', 'Thriller'],
 457: ['Thriller'],
 458: ['Drama', 'Western'],
 459: ['Action', 'Adventure', 'Crime', 'Drama', 'Romance', 'Thriller'],
 460: ['Comedy'],
 461: ['Drama', 'Romance'],
 462: ['Action', 'Adventure'],
 463: ['Crime', 'Drama', 'Thriller'],
 464: ['Action', 'Adventure', 'Crime', 'Thriller'],
 465: ['Action', 'Drama', 'War'],
 466: ['Action', 'Comedy', 'War'],
 467: ['Comedy'],
 468: ['Comedy', 'Romance'],
 469: ['Drama', 'Romance'],
 470: ['Comedy'],
 471: ['Comedy'],
 472: ['Comedy', 'Drama'],
 473: ['Comedy', 'War'],
 474: ['Action', 'Thriller'],
 475: ['Drama'],
 476: ['Comedy', 'Drama'],
 477: ['Drama', 'Musical'],
 478: ['Comedy', 'Crime', 'Drama'],
 479: ['Action', 'Crime', 'Thriller'],
 480: ['Action', 'Adventure', 'Sci-Fi', 'Thriller'],
 481: ['Drama', 'Thriller'],
 482: ['Crime', 'Drama', 'Thriller'],
 483: ['Drama'],
 484: ['Adventure', 'Children'],
 485: ['Action', 'Adventure', 'Comedy', 'Fantasy'],
 486: ['Comedy'],
 487: ['Comedy', 'Western'],
 488: ['Drama', 'Romance'],
 489: ['Comedy'],
 490: ['Thriller'],
 491: ['Drama'],
 492: ['Comedy', 'Mystery'],
 493: ['Action', 'Crime', 'Drama'],
 494: ['Action', 'Adventure', 'Thriller'],
 495: ['Drama'],
 496: ['Comedy', 'Drama', 'Romance', 'Thriller'],
 497: ['Comedy', 'Romance'],
 498: ['Drama', 'Romance'],
 499: ['Comedy', 'Romance'],
 500: ['Comedy', 'Drama'],
 501: ['Drama'],
 502: ['Action', 'Children', 'Romance'],
 503: ['Drama'],
 504: ['Action', 'Drama', 'Sci-Fi'],
 505: ['Comedy'],
 506: ['Drama', 'Fantasy', 'Romance'],
 507: ['Crime', 'Drama', 'Thriller'],
 508: ['Drama'],
 509: ['Drama', 'Romance'],
 510: ['Drama'],
 511: ['Action', 'Drama'],
 512: ['Horror', 'Sci-Fi'],
 513: ['Comedy', 'Mystery', 'Romance'],
 514: ['Comedy'],
 515: ['Drama', 'Romance'],
 516: ['Comedy', 'Drama'],
 517: ['Action', 'Drama', 'Mystery'],
 518: ['Comedy'],
 519: ['Action', 'Crime', 'Drama', 'Sci-Fi', 'Thriller'],
 520: ['Comedy'],
 521: ['Crime', 'Thriller'],
 522: ['Action', 'Drama'],
 523: ['Drama'],
 524: ['Drama'],
 525: ['Drama'],
 526: ['Drama'],
 527: ['Drama', 'War'],
 528: ['Comedy', 'Drama'],
 529: ['Drama'],
 530: ['Drama'],
 531: ['Children', 'Drama'],
 532: ['Comedy', 'Crime', 'Horror'],
 533: ['Action', 'Adventure', 'Fantasy', 'Mystery'],
 534: ['Drama', 'Romance'],
 535: ['Drama'],
 536: ['Drama'],
 537: ['Drama'],
 538: ['Drama'],
 539: ['Comedy', 'Drama', 'Romance'],
 540: ['Thriller'],
 541: ['Action', 'Sci-Fi', 'Thriller'],
 542: ['Comedy', 'Drama', 'Romance'],
 543: ['Comedy', 'Romance', 'Thriller'],
 544: ['Action', 'Crime'],
 545: ['Drama'],
 546: ['Action', 'Adventure', 'Children', 'Comedy', 'Fantasy', 'Sci-Fi'],
 547: ['Action', 'Adventure', 'Thriller'],
 548: ['Action', 'Mystery', 'Thriller'],
 549: ['Drama', 'Musical'],
 550: ['Comedy', 'Romance'],
 551: ['Animation', 'Children', 'Fantasy', 'Musical'],
 552: ['Action', 'Adventure', 'Comedy', 'Romance'],
 553: ['Action', 'Drama', 'Western'],
 554: ['Crime', 'Drama', 'Thriller'],
 555: ['Crime', 'Thriller'],
 556: ['Documentary'],
 558: ['Action', 'Adventure', 'Animation', 'Children', 'Fantasy'],
 559: ['Comedy'],
 560: ['Drama'],
 561: ['Drama', 'Thriller'],
 562: ['Comedy', 'Drama'],
 563: ['Drama', 'Romance'],
 564: ['Comedy'],
 565: ['Drama', 'Horror'],
 566: ['Comedy', 'Romance'],
 567: ['Comedy', 'Drama'],
 568: ['Comedy', 'Drama'],
 569: ['Comedy', 'Drama'],
 570: ['Comedy', 'Drama'],
 571: ['Drama', 'Romance'],
 572: ['Drama'],
 573: ['Drama'],
 574: ['Comedy', 'Drama'],
 575: ['Children', 'Comedy'],
 576: ['Comedy'],
 577: ['Adventure', 'Children', 'Drama'],
 579: ['Crime', 'Thriller'],
 580: ['Drama'],
 581: ['Documentary'],
 582: ['Comedy', 'Drama'],
 583: ['Comedy', 'Drama'],
 584: ['Drama', 'Romance'],
 585: ['Comedy'],
 586: ['Children', 'Comedy'],
 587: ['Comedy', 'Drama', 'Fantasy', 'Romance', 'Thriller'],
 588: ['Adventure', 'Animation', 'Children', 'Comedy', 'Musical'],
 589: ['Action', 'Sci-Fi'],
 590: ['Adventure', 'Drama', 'Western'],
 591: ['Action', 'Drama', 'Thriller'],
 592: ['Action', 'Crime', 'Thriller'],
 593: ['Crime', 'Horror', 'Thriller'],
 594: ['Animation', 'Children', 'Drama', 'Fantasy', 'Musical'],
 595: ['Animation', 'Children', 'Fantasy', 'Musical', 'Romance', 'IMAX'],
 596: ['Animation', 'Children', 'Fantasy', 'Musical'],
 597: ['Comedy', 'Romance'],
 598: ['Comedy', 'Fantasy'],
 599: ['Adventure', 'Western'],
 600: ['Action', 'Comedy', 'Crime'],
 601: ['Drama'],
 602: ['Documentary'],
 603: ['Comedy'],
 604: ['Documentary'],
 605: ['Drama', 'Romance'],
 606: ['Fantasy', 'Horror'],
 607: ['Drama'],
 608: ['Comedy', 'Crime', 'Drama', 'Thriller'],
 609: ['Adventure', 'Children'],
 610: ['Action', 'Adventure', 'Animation', 'Horror', 'Sci-Fi'],
 611: ['Action', 'Horror', 'Sci-Fi'],
 612: ['Comedy'],
 613: ['Drama', 'Romance'],
 614: ['Drama', 'Thriller'],
 615: ['Comedy', 'Drama'],
 616: ['Animation', 'Children'],
 617: ['Comedy', 'Drama'],
 618: ['Comedy', 'Romance'],
 619: ['Comedy'],
 620: ['Drama'],
 621: ['Drama'],
 623: ['Romance'],
 624: ['Action', 'Drama', 'Thriller'],
 625: ['Drama'],
 626: ['Comedy'],
 627: ['Drama', 'Thriller'],
 628: ['Crime', 'Drama', 'Mystery', 'Thriller'],
 629: ['Drama'],
 630: ['Drama', 'Romance'],
 631: ['Adventure', 'Animation', 'Children', 'Fantasy', 'Musical', 'Romance'],
 632: ['Drama', 'War'],
 633: ['Comedy'],
 634: ['Comedy'],
 635: ['Comedy', 'Drama'],
 636: ['Drama'],
 637: ['Comedy'],
 638: ['Romance'],
 639: ['Comedy', 'Drama'],
 640: ['Drama', 'Thriller'],
 641: ['Adventure', 'Children', 'Comedy'],
 642: ['Drama'],
 643: ['Comedy'],
 644: ['Comedy'],
 645: ['Drama'],
 647: ['Action', 'Crime', 'Drama', 'War'],
 648: ['Action', 'Adventure', 'Mystery', 'Thriller'],
 649: ['Comedy', 'Drama'],
 650: ['Drama'],
 651: ['Comedy'],
 652: ['Horror', 'Mystery', 'Thriller'],
 653: ['Action', 'Adventure', 'Fantasy'],
 654: ['Drama', 'Romance'],
 655: ['Comedy'],
 656: ['Comedy'],
 657: ['Comedy', 'Drama'],
 658: ['Drama', 'Musical'],
 659: ['Crime', 'Drama', 'Thriller'],
 660: ['Drama'],
 661: ['Adventure', 'Animation', 'Children', 'Fantasy', 'Musical'],
 662: ['Thriller'],
 663: ['Comedy'],
 664: ['Comedy'],
 665: ['Comedy', 'Drama', 'War'],
 666: ['Drama', 'Romance', 'War'],
 667: ['Action'],
 668: ['Drama'],
 670: ['Drama'],
 671: ['Comedy', 'Sci-Fi'],
 672: ['Drama'],
 673: ['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy', 'Sci-Fi'],
 674: ['Adventure', 'Comedy', 'Sci-Fi'],
 675: ['Action', 'Drama', 'Thriller'],
 676: ['Comedy', 'Horror', 'Sci-Fi'],
 678: ['Drama', 'Thriller'],
 679: ['Drama'],
 680: ['Drama', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller'],
 681: ['Crime'],
 682: ['Documentary', 'Drama'],
 683: ['Documentary'],
 684: ['Drama'],
 685: ['Drama'],
 687: ['Drama', 'Romance'],
 688: ['Action', 'Adventure', 'Comedy', 'War'],
 690: ['Drama', 'Romance'],

In [98]:
df_complete["genres_list"] = df_complete["movieId"].map(genres_per_movie_dict)

In [99]:
df_complete

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres,datetime_rating,datetime_tag,movie_year,genres_list
0,1,307,3.5,1256677221,NaN,NaN,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,2009-10-27 21:00:21,NaT,1993,[Drama]
1,106361,8368,3.5,1501871808,NaN,NaN,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX,2017-08-04 18:36:48,NaT,2004,"[Adventure, Fantasy, IMAX]"
2,131346,4816,1.5,1433273308,NaN,NaN,Zoolander (2001),Comedy,2015-06-02 19:28:28,NaT,2001,[Comedy]
3,206877,208,4.0,854979504,NaN,NaN,Waterworld (1995),Action|Adventure|Sci-Fi,1997-02-03 14:18:24,NaT,1995,"[Action, Adventure, Sci-Fi]"
4,53456,1777,3.0,945051094,NaN,NaN,"Wedding Singer, The (1998)",Comedy|Romance,1999-12-13 02:11:34,NaT,1998,"[Comedy, Romance]"
...,...,...,...,...,...,...,...,...,...,...,...,...
28363491,27045,260,5.0,955118461,NaN,NaN,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000-04-07 14:41:01,NaT,1977,"[Action, Adventure, Sci-Fi]"
28363492,27045,317,5.0,955121387,NaN,NaN,"Santa Clause, The (1994)",Comedy|Drama|Fantasy,2000-04-07 15:29:47,NaT,1994,"[Comedy, Drama, Fantasy]"
28363493,27045,349,4.0,955119023,NaN,NaN,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,2000-04-07 14:50:23,NaT,1994,"[Action, Crime, Drama, Thriller]"
28363494,27045,367,4.0,955121417,NaN,NaN,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,2000-04-07 15:30:17,NaT,1994,"[Action, Comedy, Crime, Fantasy]"
28363495,27045,379,4.0,955118786,NaN,NaN,Timecop (1994),Action|Sci-Fi|Thriller,2000-04-07 14:46:26,NaT,1994,"[Action, Sci-Fi, Thriller]"

In [101]:
df_complete[df_complete.genres.str.contains("Drama")]

,userId,movieId,rating,timestamp_rating,tag,timestamp_tag,title,genres,datetime_rating,datetime_tag,movie_year,genres_list
0,1,307,3.5,1256677221,NaN,NaN,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,2009-10-27 21:00:21,NaT,1993,[Drama]
8,182023,3147,4.5,1196302323,NaN,NaN,"Green Mile, The (1999)",Crime|Drama,2007-11-29 02:12:03,NaT,1999,"[Crime, Drama]"
12,1,481,3.5,1256677456,NaN,NaN,Kalifornia (1993),Drama|Thriller,2009-10-27 21:04:16,NaT,1993,"[Drama, Thriller]"
13,156497,3753,4.0,1192478837,NaN,NaN,"Patriot, The (2000)",Action|Drama|War,2007-10-15 20:07:17,NaT,2000,"[Action, Drama, War]"
14,258124,33166,3.0,1391029286,NaN,NaN,Crash (2004),Crime|Drama,2014-01-29 21:01:26,NaT,2004,"[Crime, Drama]"
...,...,...,...,...,...,...,...,...,...,...,...,...
28363481,27045,4,3.0,955121634,NaN,NaN,Waiting to Exhale (1995),Comedy|Drama|Romance,2000-04-07 15:33:54,NaT,1995,"[Comedy, Drama, Romance]"
28363483,27045,48,4.0,955118348,NaN,NaN,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,2000-04-07 14:39:08,NaT,1995,"[Animation, Children, Drama, Musical, Romance]"
28363487,27045,169,4.0,955120369,NaN,NaN,Free Willy 2: The Adventure Home (1995),Adventure|Children|Drama,2000-04-07 15:12:49,NaT,1995,"[Adventure, Children, Drama]"
28363492,27045,317,5.0,955121387,NaN,NaN,"Santa Clause, The (1994)",Comedy|Drama|Fantasy,2000-04-07 15:29:47,NaT,1994,"[Comedy, Drama, Fantasy]"
28363493,27045,349,4.0,955119023,NaN,NaN,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,2000-04-07 14:50:23,NaT,1994,"[Action, Crime, Drama, Thriller]"

In [162]:
#what is the most popular movie of all time

# top_20_movies_all_time = df_complete.movieId.value_counts().head(20)

count_movies = df_complete.movieId.value_counts()

# sort by movieId
# df_complete.sort_val(by="movieId")

In [140]:
# top_movies = df_complete.copy()

# for movies in top_20_movies_all_time:
#     title = top_movies.loc[top_movies["movieId"] == movies, "title"]
#     print(movies)
#     #Top_20 = pd.DataFrame({'Movie': title, 'count': top})

In [167]:
# count_movies = pd.DataFrame({"total_views": count_movies})

count_movies = pd.DataFrame(count_movies)

count_movies = count_movies.rename(columns={"movieId": "total_views"})

count_movies

        total_views
318          100805
356           99162
296           96271
593           89651
2571          87652
...             ...
155996            1
129897            1
130666            1
190517            1
191703            1

[53889 rows x 1 columns]

In [170]:
movies_df = pd.merge(movies_df, count_movies, left_on="movieId", right_on=count_movies.index)

In [174]:
movies_df.sort_values(by="total_views", ascending=False).head(20)

,movieId,title,genres,total_views
315,318,"Shawshank Redemption, The (1994)",Crime|Drama,100805
352,356,Forrest Gump (1994),Comedy|Drama|Romance|War,99162
293,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,96271
587,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,89651
2487,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,87652
257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,85743
476,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,77114
523,527,Schindler's List (1993),Drama|War,72618
108,110,Braveheart (1995),Action|Drama|War,69450
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68972
2874,2959,Fight Club (1999),Action|Crime|Drama|Thriller,68721
1171,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,66779
1184,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,66659
583,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,65012
1173,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,64220
49,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,63327
4898,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,63238
2773,2858,American Beauty (1999),Drama|Romance,62192
843,858,"Godfather, The (1972)",Crime|Drama,61758
767,780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,59484